.navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
}

.desktopNav {
    display: none;
}

.navLogoMobile {
    height: 20px;
    width: 76px;
    margin: 15px 10px;
}

.menu {
    height: 13px;
    margin: 16px 13px;
}

.hero {
    height: 455px;
    background-image: url('../../images/heroBG.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroTitle {
    font-weight: 300;
    font-size: 44px;
    line-height: 54px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 27px;
}

.heroBlurb {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-top: 11px;
    padding: 0 15px;
    margin-bottom: 40px;
}

.getStartedBtn {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 15px 70px;
    background: #FF7043;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(127, 32, 2, 0.475175);
}

.computerImage {
    margin-top: 42px;
    width: 293px;
    height: 165px;
}

.partners {
    background: #F6F9FC;
    border: 1px solid #F2F4F7;
    box-sizing: border-box;
    margin-top: 50px;
}

.partnerLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chubb {
    margin-top: 50px;
    margin-bottom: 31px;
}

.nationWide, .QBE {
    margin-bottom: 32px;
}

.assurant {
    margin-bottom: 50px;
}

.solutions {
    text-align: center;
    color: #6B7C93;
}

.solutionsHeading {
    margin: 52px 0 30px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 0.58px;
    color: #039BE5;
    padding: 0 25px;
}

.solutionTitle {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.74px;
    margin: 0 0 21px 10px;
}

.solutionBlurb {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.74px;
    padding: 0 20px;
    margin: 0 0 24px 0;
}

.iFrame {
    margin-bottom: 27px;
}

.coverageOptions {
    height: 2018px;
    background-image: url('../../images/coverageBG.png');
    background-repeat: no-repeat;
    background-position: 75% -112px;
    background-size: cover;
    text-align: center;
    margin-top: -20px;
    font-family: 'Montserrat', sans-serif;
}

.coverageOptionsHeading {
    font-weight: 300;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-top: 10px;
    padding: 177px 20px 0px 20px;
}

.coverageWrapper {
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.209352);
    border-radius: 4px;
    width: 268px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.coverageIcon {
    margin-top: 30px;
    margin-bottom: 16px;
}

.coverageTitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.74px;
    color: #016CB7;
    margin: 0;
}

.coverageBlurb {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #6B7C93;
    padding: 10px 10px 36px;
    margin: 0;
}

.signup {
    background-image: url('../../images/signupBG.png');
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    margin-top: -113px;
}

.signupHeading {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    line-height: 43px;
    padding: 50px 20px 20px;
    text-align: center;
    color: #FFFFFF;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textInput {
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #DADFE9;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #9BA9BB;
    padding: 15px 80px 14px 16px;
}

.submitBtn {
    width: 268px;
    height: 54px;
    background: #FF7043;
    border-radius: 5px;
    border: none;
    margin: 11px 26px 47px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.footerLogo {
    margin: 40px 0 28px 0;
}

.copywright {
    font-size: 14px;
    line-height: 17px;
    color: #6B7C93;
    margin: 0 0 20px;
}

.footerLink {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #039BE5;
    display: block;
    margin-bottom: 19px;
}

.footerLink:last-child {
    margin-bottom: 15px;
}

.socialMediaIcon {
    margin-right: 40px;
    margin-bottom: 48px;
}

.socialMediaIcon:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 767px) {
    .desktopNav {
        display: block;
    }

    .mobileNav {
        display: none;
    }

    .desktopBackgroundWrapper {
        background-image: url('../../images/heroBG.png');
        background-repeat: no-repeat;
        background-position: -75px -132px;
        background-size: cover;
    }

    .navbar {
        box-shadow: none;
        height: auto;
        justify-content: space-between;
    }

    .navItem {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
        margin-top: 25px;
        margin-right: 40px;
        padding: 0;
    }
    
    .navLogoDesktop {
        height: 39px;
        width: 150px;
        margin: 17px 40px 0 153px;
    }
    
    .dropDown {
        position: relative;
        margin-right: 56px;
    }

    .dropDown::after {
        content: url('../../images/arrow_drop_down.png');
        position: absolute;
        top: -3px;
        right: -11px;
    }

    .navLeftItemsWrapper {
        display: flex;
        flex-direction: row;
    }
    
    .navRightItemsWrapper {
        display: flex;
        flex-direction: row;
    }

    .signupNav {
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        padding: 9px 33px 0;
        margin-right: 148px;
        margin-top: 15px;
    }

    .hero {
        height: auto;
        background: none;
    }

    .heroTitle {
        font-size: 50px;
        line-height: 61px;
        margin-top: 65px;
    }

    .heroBlurb {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 1px;
        padding: 0 306px;
        margin: 2px 0 42px;
    }

    .computerImage {
        margin: 42px 0 20px;
        width: 850px;
        height: 480px;
    }

    .partners {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 160px;
    }

    .chubb {
        height: 25px;
        width: 247px;
        margin: 0;
    }

    .nationWide{
        height: 63px;
        width: 212px;
        margin: 0;
    }

    .QBE{
        height: 44px;
        width: 129px;
        margin: 0;
    }

    .assurant{
        height: 59px;
        width: 281px;
        margin: 0;
    }

    .solutions {
        display: flex;
    }

    .solutionsWrapper {
        margin-left: 130px;
    }

    .solutionsHeading {
        font-family: Montserrat;
        font-size: 62px;
        line-height: 76px;
        letter-spacing: 1px;
        padding: 0;
        margin: 105px 0 0 245px;;
        text-align: left;
    }

    .solutionTitle {
        font-size: 24px;
        line-height: 29px;
    }
}
